


<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kuha keskustelee</title>
        <meta charset="utf-8" />
        <style>
            table, th, td{
                border: 1px solid white;
                border-collapse: collapse;
            }
            th, td{
                padding: 5px;
            }
            th{
                text-align: left;
            }
        </style>
    </head>

    <body>
        <h1>Kuha keskustelee</h1>





        <table style="width:100%">
            <tr>
                <th>Alueet &nbsp; &nbsp; </th>
                <th>Viestejä yhteensä &nbsp; &nbsp; </th>
                <th>Viimeisin viesti &nbsp; &nbsp;</th>
            </tr>

            <tr th:each="alue: ${alueet}">
                <td>
                    <a th:href="${'/alue/' + alue.id}" th:text="${alue.otsikko}">1</a> 
                </td>
                <td>
                    <span th:text="${alue.otsikko}">esimerkki</span>
                </td>
                <td>
                    <span th:text="${alue.palsta}">1</span>
                </td>
            </tr>
        </table>







    </body>
</html>